.App {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 5px 10px;
  border: 1px gray solid;
}

table {
  border-collapse: collapse;
  border: none;
}

table th,
table td {
  border: none;
  width: 200px;
}

thead {
  background: linear-gradient(to bottom, #3ae70e, #ffffff);
}

tr th {
  cursor: pointer;
  padding: 10px;
}

.credit {
 color: rgb(18, 87, 238);
}

.equities {
  color: rgb(11, 153, 42);
}

.macro {
  color: rgb(214, 16, 16);
}

.positive {
  color: rgb(18, 87, 238);
}

.negative {
  color: rgb(214, 16, 16);
}